<%= render 'shared/page_title', title: "All Pastors" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= will_paginate %>
  </div>
</div>

<% @pastors.each do |pastor| %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= link_to gravatar_for(pastor, size: 200), pastor_path(pastor) %>
    <p>
      <h5>Pastor Name: <%= pastor.pastorname %></h5>
    </p>
  </div>
</div>

<% end %>