<div class="jumbotron center">
	<h1>Welcome to Sermon Emails</h1>
	
	<h2>Interested? Sign up and add your favorite recipe.</h2>
	<%= link_to "Sign Up", register_path, class: "btn btn-lg border-blue-join" %>
</div>
<div class="row">
	<div class="col-lg-4">
		<h3 class="midrow">Sign In To Your Account</h3>
		<h2 class="left">Browse and View Sermons as A Guest and Sign Up Later</h2>
		<p><%= link_to "Browse Sermons", sermons_path, class: "btn btn-warning btn-small border-blue-browse"%></p>
	</div>
		<div class="col-lg-4">
		<h3 class="midrow">Log in to your account</h3>
		<h2 class="left">Add/Update your sermons | Write Reviews | Like/Dislike Sermons </h2>
		<p><%= link_to "Log In To Your Account", login_path, class: "btn btn-warning btn-small border-blue-browse"%></p>
	</div>
		<div class="col-lg-4">
		<h3 class="midrow">View Another App Made By Me</h3>
		<h2 class="left">Go to my portfolio and check out more apps made with Ruby on Rails.</h2>
		<p><%= link_to "Browse My Portfolio", "", class: "btn border-blue-browse btn-small"%></p>
	</div>
</div>