<%= render 'shared/page_title', title: "New Sermon" %>
<hr/>

<%= render 'form' %>

<!--<div id="todo_items_wrapper">-->
<!--	<%= render 'form' %>-->
<!--	<div id="form">-->
<!--		<%= render 'formadd' %>-->
<!--	</div>-->

</div>