<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "MySermons", root_path, class: "btn btn-lg btn-success", id: "logo" %> 
  
  <div class="nav_item">
    <%= link_to "Item 1", "", class: "btn btn-default" %>
  </div>
  <div class="nav_item">
    <%= link_to "Item 1", "", class: "btn btn-default" %>
  </div>
  <div class="nav_item">
    <%= link_to "New Sermon", new_sermon_path, class: "btn btn-default" %>
  </div>
  </div>
</header>